:root{
    /* ------ COLORES ------ */
    --ColorPrimario: #477F90;
    --ColorSecundario: #A44545;
    --ColorTerciario: #404040;
    --ColorCuarto: #303030;
    --ColorQuinto: #E8E7E4;
}

/* --------------- Configuraciones Generales --------------- */

    *{ /* Eliminación de los valores default. */
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    /* Botones */

/* --------------- Body --------------- */

    body{
        background-image: linear-gradient(45deg, var(--ColorSecundario), var(--ColorPrimario));
        height: 100vh;
        max-height: 100vh;
    }

    button{
        padding: 0.5em;
        border-radius: 5px;
        height: 2.7em;
    }


/* --------------- Header --------------- */

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--ColorTerciario);
        padding: 0.2em;
        max-height: 20vh;
    }

    #CuentayModo, nav{
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    #CuentayModo{
        width: 20%;
        max-width: 40%;
        flex-grow: 1;
    }

    #CuentayModo>*{
        margin: 1%;
    }

    #Cuenta{
        width: 3em; /* Medida em para que sea equivalente a la altura del texto.*/
        height: 3em;
        border-radius: 50%; /* Al 50% para redondear cada esquina al 50% y tener un redondeado el 100%. */
        
    }

/* --------------- Opciones y Logo --------------- */

    #OpcionesYLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 80vh;
    }

/* --------------- Opciones --------------- */

    #Opciones{
        width: 40Dvw;
        margin: 1%;
        flex-grow: 1;
        min-width: 25vw;
        padding: 2em;
    }

    #botones{
        display: flex;
        flex-direction: column;

        margin: 5%;
        vertical-align: middle;
    }

    .Opciones{
        margin-top: 1em;
    }

/* --------------- Logo --------------- */

    #logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30;
        min-width: 25vw;
        flex-grow: 1;
    }

/* --------------- Keyframes --------------- */

@keyframes bouncyTitle{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(2);
    }
    75%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}