/* ------------------ Importes y Root ------------------ */

/* ------------------ ------------------ */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

:root{ 
    /* Colores */
    --ColorPrimario: #477F90;
    --ColorSecundario: #A44545;
    --ColorTerciario: #404040;
    --ColorCuarto: #303030;
    --ColorQuinto: #E8E7E4;

}

/* ------------------ Configuracipnes generales ------------------ */

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'DotGothic16';
        font-weight: normal;
    }

    h1, h2{
        font-family: 'VT323';
        font-size: 3rem;
        color: var(--ColorQuinto);
    }

/* ------------------ body ------------------ */

    body{
        background-color: var(--ColorCuarto);
        height: 80vh;
    }


/* ------------------ Header ------------------ */

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 2em;
        padding: 1em;
        background-color: var(--ColorTerciario);
    }

/* ------------------ Corpus general, puntaje y componente ------------------ */

    #CorpusGeneral{
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: var(--ColorQuinto);
        margin-top: 1%;
        padding: 1em;
    }

/* ------------------ Resultados y puntaje del nivel ------------------ */

    #Resultados{
        margin-top: 3em;
    }

/* ------------------ Puntajes ------------------ */

    .Puntajes{
        display: flex;
        flex: nowrap;
        justify-content: center;
        min-width: 50vh;
    }

    .Puntajes p{
        font-size: 1.3em;
    }

/* ------------------ Componente ------------------ */    

    #ContainerComponentes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2em;
        min-width: 50vh;
        border-radius: 0.5em;
        border: 1px solid rgba(255,255,255, 0.3);
        background-color: rgba(255,255,255, 0.1);
    }

/* ------------------ Botones ------------------ */

    button{
        background-color: var(--ColorSecundario);
        border-radius: 5px;
        border: none;
        color: var(--ColorQuinto);
        padding: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
        width: max-content;
    }